.discription {
  max-width: 600px;
  margin-left: 100px;
}
.discription .company-name {
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  letter-spacing: 2px;
  font-size: 14px;
}
.discription h1 {
  margin: 15px 0 40px;
  font-size: 50px;
}
.discription .product-info {
  margin-bottom: 20px;
  color: hsl(222, 5%, 51%);
  font-size: 18px;
  letter-spacing: 1px;
}
.discription .price-container .offer {
  height: 60px;
  display: flex;
  align-items: center;
}
.discription .price-container .offer h3 {
  margin-right: 20px;
  font-size: 30px;
}
.discription .price-container .offer p {
  font-weight: bold;
  color: hsl(26, 100%, 55%);
}
.discription .price-container .price {
  margin: -5px 0 40px;
  font-size: 18px;
  color: hsl(220, 9%, 66%);
  text-decoration: line-through;
}
.discription .buying-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discription .buying-buttons .purchases-number {
  display: flex;
  width: 150px;
  margin-right: 15px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.discription .buying-buttons .purchases-number .number {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.discription .buying-buttons .purchases-number .btns {
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  color: hsl(26, 100%, 55%);
  background-color: transparent;
}
.discription .buying-buttons .purchases-number .btns:hover {
  color: hsl(26, 97%, 65%);
}
.discription .buying-buttons .add-to-cart img {
  filter: brightness(300%);
}
.discription .buying-buttons .add-to-cart p {
  color: white;
  margin-left: 15px;
  font-weight: 500;
  font-size: 20px;
}
.discription .buying-buttons .add-to-cart {
  display: flex;
  cursor: pointer;
  width: 300px;
  height: 70px;
  border-radius: 15px;
  background-color: hsl(26, 100%, 55%);
  align-items: center;
  justify-content: center;
}
.discription .buying-buttons .add-to-cart:hover {
  background-color: hsl(26, 97%, 65%);
}

/* Responsive */

@media (max-width: 1140px) {
  .App .product {
    width: 90%;
    margin: 80px auto;
  }
  .navbar .links {
    margin-right: 80px;
  }
  .discription .buying-buttons .add-to-cart {
    width: 250px;
  }
  .navbar .logo img {
    margin: 0 40px 0 0;
  }
}
@media (max-width: 1000px) {
  .navbar .links .link {
    padding: 40px 0;
  }
  .App .product {
    width: 98%;
    margin: 80px auto;
  }
  .buying-buttons {
    flex-direction: column;
  }
  .buying-buttons .purchases-number {
    margin-left: 15px;
  }

  .discription .buying-buttons .add-to-cart {
    width: 60%;
    margin-top: 20px;
  }
  .navbar .links {
    margin-right: 40px;
  }
}
@media (max-width: 830px) {
  .App .product {
    flex-direction: column;
    margin: 0;
  }
  .line {
    margin-left: 70px;
  }
  .navbar {
    width: 80%;
    margin: 20px auto;
    justify-content: flex-end;
  }
  .navbar .menu {
    display: block;
  }
  .navbar .links {
    display: none;
  }
  .navbar .profile {
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .cart {
    margin-left: 200px;
  }
  .discription {
    margin-top: 40px;
  }
  .discription .buying-buttons {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 670px) {
  .discription {
    margin: 40px 20px 0;
  }
  .cart {
    margin-left: 50px;
  }
}
@media (max-width: 500px) {
  .navbar .logo img {
    width: 100%;
  }
  .App {
    margin: 0;
  }
  .line {
    display: none;
  }
  .product-imgs {
    width: 100%;
  }
  .product-imgs .review {
    width: 98%;
    border-radius: 0;
    margin: 10px 30px;
  }
  .discription {
    padding-left: 30px;
  }
  .discription h1 {
    font-size: 35px;
  }
  .product-imgs .image-thumbnail {
    width: 90%;
    margin: 0 0 0 -20px;
  }
  .product-imgs .image-thumbnail img {
    width: 20%;
    height: auto;
  }
}
@media (max-width: 340px) {
  .navbar {
    padding-left: 10px;
    justify-content: start;
    width: 90%;
  }
  .cart {
    margin: 0;
  }
  .navbar .logo {
    margin-right: 40px;
  }
  .product-imgs .review {
    width: 98%;
    border-radius: 0;
    margin: 10px auto;
  }
  .navbar .profile {
    width: 40px;
    height: 40px;
  }
  .navbar .profile img {
    width: 40px;
    height: 40px;
  }
  .discription .buying-buttons .add-to-cart {
    width: 100%;
    margin-top: 20px;
  }
}
