@font-face {
  font-family: Kumbh Sans;
  src: url("https://fonts.google.com/specimen/Kumbh+Sans");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.App {
  padding-bottom: 100px;
}
.App .product {
  margin: 80px 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* modal styles*/
.modal {
  z-index: 1;
  padding: 20px 0 0 0;
  margin-top: -20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal .product-imgs {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 600px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .product-imgs .review {
  cursor: pointer;
  margin: 20px 0;
  width: 450px;
  height: 450px;
  border-radius: 10px;
}
.modal .product-imgs .image-thumbnail {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.modal .product-imgs .image-thumbnail img:hover {
  opacity: 0.5;
}

.modal .product-imgs .image-thumbnail .thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

.modal .product-imgs .image-thumbnail img {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.modal .close {
  filter: brightness(100);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 80px;
  width: 15px;
  height: 15px;
  transition: 0.2s ease-in;
}
.modal .product-imgs .image-thumbnail .active {
  border: 3px solid hsl(26, 100%, 55%);
  opacity: 0.4;
}
.modal .product-imgs .left {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: white;
  position: absolute;
  top: 260px;
  left: 55px;
}
.modal .product-imgs .left img {
  margin-left: -3px;
}
.line {
  margin-left: 110px;
  width: 80%;
  height: 2px;
  background-color: hsl(234, 23%, 91%);
  margin-top: 20px;
}
.modal .product-imgs .right {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: white;
  position: absolute;
  top: 260px;
  right: 55px;
}
.modal .product-imgs .right img {
  margin-right: -3px;
}
